<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for post in object_list %}
    <h1>{{ post.title }}</h1>
    <p>{{ post.body }}</p>
    <p>{{ post.created_at }}</p>
{% endfor %}
</body>
</html>